<!DOCTYPE html>
<html>
  <head>
    <title>Sample Rails App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1>Welcome to Sample Rails App</h1>
      
      <!-- Security issue - using raw HTML -->
      <div class="user-content">
        <%= raw @user_content %>  <!-- XSS vulnerability -->
      </div>
      
      <!-- Safe alternative would be: -->
      <!-- <%= sanitize @user_content %> -->
      
      <%= yield %>
    </div>
  </body>
</html>
